@page "/"
@page "/tables"
@using PointsPerGame.UI.Blazor.Services

<PageTitle>Points Per Game</PageTitle>

<h1>Points Per Game</h1>

<h2>Available Tables</h2>

@if (links == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var kv in links)
    {
        <a href="/tables/@kv.Key">@kv.Value</a>
        <br />
    }

    <h2>Sorting</h2>
    <text>Teams are sorted by points per game, then by the number of games played.</text>
    <br />
    <text>If teams have a 100% win record, the team which has played more games is sorted higher.</text>
    <br />
    <text>For all other points-per-game ties, the team which has played fewer games is sorted higher.</text>
    <br />
    <text>If both of those values are equal, teams are sorted by goal difference, and then by team name. 
</text>
    <br />

    <br />

    <a href="https://github.com/stuartd/PointsPerGame">Site code (GitHub)</a>

    <br />

    <a href="https://github.com/stuartd/PointsPerGame/issues">Having a problem? Got any ideas for enhancements? Let me know! (GitHub)</a>
}

@code {
    private IReadOnlyDictionary<int, string>? links;

    protected override async Task OnInitializedAsync()
    {
        links = await TablesService.GetLeagueLinksAsync();
    }
}
