@model Dictionary<int, string>

<h1>Points Per Games</h1>

<h2>Available Tables</h2>

@foreach (var link in Model)
{
    var href = "/Tables/" + link.Key;

    <a href="@href">@link.Value</a><br>
}

<h2>Sorting</h2>
     Teams are sorted by points per game, then by the number of games played.
<br>
     This means if two teams have the same points per game, then the team which has played the fewer games is sorted higher.
<br>
     If both of those values are equal, teams are sorted by goal difference, and then by team name.
<br>   