@model PointsPerGame.Core.Models.MissingTable

@{
    ViewBag.Title = "Missing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Sorry, the table for the @Model.League isn't currently available. Click <a href="/">here</a> to go back to the list</h4>

