<div class="nav-header">
    <a class="app-title" href="">Points Per Game</a>
    <button title="Navigation menu" class="nav-toggle" @onclick="ToggleNavMenu">
        <span class="nav-toggle-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav-list">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="tables">
                Tables
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool isNavMenuHidden = true;

    private string? NavMenuCssClass => isNavMenuHidden ? "nav-hidden" : null;

    private void ToggleNavMenu()
    {
        isNavMenuHidden = !isNavMenuHidden;
    }

}
